<head>
  <style type="text/css">
    .format1 {
      font-family: Verdana;
      font-size: 16pt;
      color: blue;
    }
    .format2 {
      font-family: Tahoma;
      font-size: 10pt;
      color: green;
    }
  </style>
</head>
<body>
  <p class="format1">Tulisan ini besar dan biru</p>
  <p class="format2">Tulisan ini kecil dan hijau</p>
  <p class="format1">Tulisan ini besar dan biru lagi</p>
</body>
