.format1 {
    font-family: Verdana;
    font-size: 16pt;
    color: blue
}

.format2 {
    font-family: Tahoma;
    font-size: 10pt;
    color: green
}

a:link {
    font-family: Arial;
    font-size: 11pt;
    color: red
}

h1 {
    font-family: Trebuchet MS;
    font-size: 18pt;
    color: gray
}